<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>主页</title>
<meta name="description"
	content="MSUI: Build mobile apps with simple HTML, CSS, and JS components.">
<meta name="author" content="阿里巴巴国际UED前端">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/??sm.min.css,sm-extend.min.css">
<link rel="stylesheet"
	href="/public/css/mainpage.css">
</head>
<body>
	<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
	<div class="page-group">
		<!-- 单个page ,第一个.page默认被展示-->
		<div class="page">
			<!-- 标题栏 -->
			<header class="bar bar-nav">

				<h1 class="title">首页</h1>
			</header>

			<!-- 工具栏 -->
			<nav class="bar bar-tab">
				<a class="tab-item external active" href="#"> <span
					class="icon icon-home"></span> <span class="tab-label">首页</span>
				</a>
				<!-- 仿照上面的例子处理下面的样式 -->
				<a class="tab-item" href="#" id="me"><span class="icon icon-me"></span>
					<span class="tab-label">我</span> </a>
			</nav>

			<!-- 这里是页面内容区 -->

			<div class="content">
				<!-- Slider -->
				<!-- 幻灯片 -->
				<div class="swiper-container index-banner" data-space-between='10'>
					<div class="swiper-wrapper">
						<!-- <div class="swiper-slide">
							<img
								src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
								alt="">
						</div> -->
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<!-- 全类查询区 -->
				<div class="total-shop-button">
					<a href="/frontend/viewshoplist" external>全部商店</a>
				</div>
				<!-- 一级类别展示区 -->
				<div class="row">
					<!-- <div class="col-50 shop-classify">
						<div class="word">
							<p class="shop-title">本期推荐</p>
							<p class="shop-desc">近期相关活动</p>
						</div>
						<div class="shop-classify-img-wrap">
							<img class="shop-img"
								src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg">
						</div>


					</div> -->
				</div>

			</div>

		</div>

		<!-- 侧边栏 -->
		<div class="panel-overlay"></div>
		<!-- 右侧边栏 -->
		<div class="panel panel-right panel-reveal" id="panel-right-demo">
			<div class="content-block">
				<p>这是一个侧栏</p>
				<p>xixi</p>
				<!-- Click on link with "close-panel" class will close panel -->
				<p>
					<a href="#" class="close-panel">关闭</a>
				</p>
			</div>
		</div>

	</div>




	<!-- 默认必须要执行$.init(),实际业务里一般不会在HTML文档里执行，通常是在业务页面代码的最后执行 -->
	<!-- <script>
		$.init()
	</script>
 -->




	<script type='text/javascript'
		src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
	<script type='text/javascript'
		src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
	<script type='text/javascript'
		src='//g.alicdn.com/msui/sm/0.6.2/js/??sm.min.js,sm-extend.min.js'
		charset='utf-8'></script>

	<script type="text/javascript" src="/public/js/commons/common.js"></script>
	<script type="text/javascript" src="/public/js/view/mainpage.js"></script>
</body>
</html>
