<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bob.o2o.dao.ProductImgMapper">
	<resultMap type="com.bob.o2o.entity.ProductImg"
		id="productImgResultMap">
		<id column="" property="" />
		<result column="" property="" />
	</resultMap>
	<!-- 批量添加productImg -->
	<insert id="batchInsertProductImg"
		parameterType="java.util.List">
		insert into
		`tb_product_img`
		(
		`img_addr`,
		`img_desc`,
		`priority`,
		`create_time`,
		`product_id`
		)
		values
		<foreach collection="list" item="productImg" 
		index="index" separator=",">
		(
		#{productImg.imgAddr},
		#{productImg.imgDesc},
		#{productImg.priority},
		#{productImg.createTime},
		#{productImg.productId}
		)
		</foreach>
	</insert>
	<!-- 通过productId查询商品详情图 -->
	<select id="queryProductImgList" parameterType="long"
	resultType="com.bob.o2o.entity.ProductImg">
	SELECT 	
	`product_img_id`, 
	`img_addr`, 
	`img_desc`, 
	`priority`, 
	`create_time` 
	FROM 
	`tb_product_img` 
	where
	product_id = #{productId}
	order by
	priority desc
	</select>
	<!-- 通过productId删除商品信息 -->
	<delete id="deleteProductImgByProductId" parameterType="long">
	delete from
	`tb_product_img`
	where
	product_id = #{productId}
	</delete>

</mapper>
